body{
  display: flex;
  font-family:monospace;
  background-color: black;
  color: white;
  
}
.load{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.cardWrapper{
  width: 400px;
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.fullname{
  display: flex;
  gap: 10px;
  margin-block: -13px;
}

.cardWrapper:hover{
  background-color: white;
  color: black;
  transition: 0.5s;
  font-size:x-large;
  img{
    transform: scale(1.1);
    transition: 0.5s;
  }
}

